#div1 {
 height: 120px;
 width: 90%;
 padding: 5px;
 margin: 0 auto;
 background-color: white;
 border-style: solid;
 border-width: 0px;
 border-color: black;
 margin-bottom: 20px;
}
p {
 font-style: italic;
 font-size: 16px;
}
#mapcontainer {
   height: 550px; 
           width: 80%; 
            margin: 0 auto;
            border: 2px solid black;
 margin-bottom: 20px;
}
#source {
height: 50px;
width: 200px;
}